Mister_H_Ecomerce_2_0.json
{
  "name": "Mister H Ecomerce 2.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Mister",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -580,
        100
      ],
      "id": "eb98582b-f3e1-484d-84f7-3b95601336ce",
      "name": "Webhook",
      "webhookId": "91fa5560-efdb-46c7-9c49-6b207f05cda4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ad6d00b-4a3b-4543-8ba4-fe5c780e894c",
              "name": "message.message_id",
              "value": "={{ $json.body.data.key.id || '' }}",
              "type": "string"
            },
            {
              "id": "2ac320ae-be8a-4d04-9ca2-9473d0a06e69",
              "name": "message.chat_id",
              "value": "={{ $json.body.data.key.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "4c9ba9f9-e42e-4710-bb34-393a4fc2c5c1",
              "name": "message.file_type",
              "value": "={{ $json.body.data.message.extendedTextMessage ? 'text':'' }}{{ $json.body.data.message.conversation ? 'text':'' }}{{ $json.body.data.message.audioMessage ? 'audio':'' }}{{ $json.body.data.message.imageMessage ? 'image':'' }}",
              "type": "string"
            },
            {
              "id": "42c025db-ca04-4152-a14c-5f80fb045c3c",
              "name": "message.content",
              "value": "={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "e58a7ded-4ac8-41c5-85cf-8aff847303ff",
              "name": "message.timestamp",
              "value": "={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "44565a86-a136-4815-b759-448367f01e7d",
              "name": "message.content_url",
              "value": "={{ $json.body.data.message.audioMessage?.url || '' }}{{ $json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b1058ed-1a6b-4ab1-95a3-5d819175c848",
              "name": "message.event",
              "value": "={{ $json.body.data.key.fromMe ? 'outcoming': 'incoming'  }}",
              "type": "string"
            },
            {
              "id": "7a94762c-868e-46c2-9c89-5c281674346a",
              "name": "message.reply",
              "value": "={{ $json.body.data.contextInfo?.quotedMessage?.conversation || ''}}{{ $json.body.data.contextInfo?.quotedMessage?.imageMessage.caption || ''}}",
              "type": "string"
            },
            {
              "id": "fa0deae0-6cd2-4383-a9bd-e0fb167c3d75",
              "name": "instance.name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "287e8a8f-0e75-49e6-85bd-b9caa6b1f708",
              "name": "instance.apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "5260d7e1-6964-43bd-b1a5-a1da29a7af17",
              "name": "instance.server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "beb80581-752b-44a6-aa89-90121c46f4e6",
              "name": "user.name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "147fe27a-b691-4a88-8384-502e311190d7",
              "name": "user.number",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "803a2227-7b1f-4da6-86b6-2a258e23a55f",
              "name": "database.chats_histories",
              "value": "mister_chats",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        100
      ],
      "id": "f3b90a63-c87a-4932-a4a9-98ed6d1217f5",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f9f2b3d-40af-43a8-8afe-99f17f3092cb",
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Incoming"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        100
      ],
      "id": "700e6eb6-8571-4fc0-b5af-493e9fcb379f",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $('Set Fields').item.json.message.chat_id }}_block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "047b1f1c-1d12-4d41-b547-fcf666004c2e",
      "name": "Get Block Chat ID",
      "credentials": {
        "redis": {
          "id": "45BFVfxu7fQwYWLk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI response"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "255bb114-a19b-4568-8f4c-f5ca30b09d63",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human response"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        180,
        200
      ],
      "id": "ad098c75-e3c3-4c44-bd00-85d8657042ed",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Set Fields').item.json.message.chat_id }}_block",
        "value": "=true",
        "keyType": "string",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a8f8115d-338d-4a91-8d11-ae9848613d77",
      "name": "Block AI Agent",
      "credentials": {
        "redis": {
          "id": "45BFVfxu7fQwYWLk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user sent the following message\ntoday: {{ $now.toLocal().format('dd MMM. yyyy', 'es') }}\nuser name: {{ $('Set Fields').item.json.user.name }}\nuser number: {{ $('Set Fields').item.json.user.number }}\nmessage type: {{ $('Set Fields').item.json.message.file_type }}\n\nmessage text or description:\n{{ $('Chat input').item.json.chat_input }}\n{{ $('Set Fields').item.json.message.reply }}",
        "options": {
          "systemMessage": "=###ROL:\nEres un vendedor experto vendiendo en WhatsApp\n\n###TOOLS:\nInfo products: obtiene información de los productos de la tienda.\nThink: úsalo para pensar.\n\n###TAREAS:\n{{ $json.content }}\n\n### NOTAS:\nSi no encuentras la prenda en Info products, dile Déjame te veo disponibilidad.\nNo envies enlaces de youtube.\n\ndatetime: {{ $now.toLocal()}}",
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        6320,
        260
      ],
      "id": "252d4772-6799-4e03-970d-9958b798ca3b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6140,
        560
      ],
      "id": "6b31fe20-7a73-4f0f-8921-3893812a15e2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rpKV1NIQrD2nRD6q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set Fields').item.json.message.content }}",
                    "rightValue": "/restart",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "restart_comand"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Conversation"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        180
      ],
      "id": "17365dd9-caa5-4a7e-bfbf-2e8530d56400",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Set Fields').item.json.message.chat_id }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        800,
        260
      ],
      "id": "ca41ff97-6ab2-4b3e-ae7e-119f1ed2536c",
      "name": "Get messages buffer",
      "credentials": {
        "redis": {
          "id": "45BFVfxu7fQwYWLk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Set Fields').item.json.message.chat_id }}_buffer",
        "messageData": "={{ JSON.stringify($('Set Fields').item.json.message) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        620,
        260
      ],
      "id": "784783ca-8a43-48f3-bcda-98b820d94348",
      "name": "Push message buffer",
      "credentials": {
        "redis": {
          "id": "45BFVfxu7fQwYWLk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages.first().parseJson().message_id }}",
                    "rightValue": "={{ $('Set Fields').item.json.message.message_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "c58179ff-d451-4b8f-9263-6c345503855f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No hacer nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "231c56ce-f787-40a0-a6fd-02a301579e5e",
                    "leftValue": "={{ $json.messages.last().parseJson().timestamp }}",
                    "rightValue": "={{ $now.minus(15,'seconds').toISO() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Proseguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        980,
        260
      ],
      "id": "1695c117-ef65-4229-89f5-195f9d022b45",
      "name": "Switch3"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1220,
        420
      ],
      "id": "7c086893-b532-49fe-b74b-5d31a6a78b3c",
      "name": "Wait",
      "webhookId": "a377342b-9c35-4a4b-a521-1e1e8ea58124"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        120
      ],
      "id": "c2a5cefb-0d6f-44e6-9b4f-26074a0202d6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set Fields').item.json.message.chat_id }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1220,
        260
      ],
      "id": "ab123f52-97a6-4c8e-9912-7d56232c1be3",
      "name": "Delete buffer",
      "credentials": {
        "redis": {
          "id": "45BFVfxu7fQwYWLk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1400,
        260
      ],
      "id": "a3e912c1-7ae5-424a-a47e-e4fcb170be50",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.messages) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        260
      ],
      "id": "c861cf44-d6f7-4e04-9bd3-45b6f8c40e07",
      "name": "JSON parse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields').item.json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $('Set Fields').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        100
      ],
      "id": "529aa602-2859-436c-a1ed-8d427e104c7e",
      "name": "Get audio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cfdb45ea-45f7-4848-b421-6a8b2e759059",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48399c05-37b1-491a-bc77-b97e1a51ef7b",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "225febbe-80f6-4e4c-ae91-964815976b40",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Other"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1760,
        240
      ],
      "id": "4f988bc5-5222-4632-acb9-70a0e93bf020",
      "name": "Switch control type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields').item.json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $('Set Fields').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        260
      ],
      "id": "6a5ef33a-b23a-4a80-afe9-d26c1bdd5919",
      "name": "Get image"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        100
      ],
      "id": "b418e9ff-2a8c-4826-81bc-be0d7199429c",
      "name": "Convert audio"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": "={{ $json.mimetype}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        260
      ],
      "id": "195ad232-edb1-437d-9969-a3523fad15f5",
      "name": "Convert image"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2320,
        100
      ],
      "id": "6f533d24-3aaa-4e80-a534-e04ff12d9626",
      "name": "Transcribe",
      "credentials": {
        "openAiApi": {
          "id": "rpKV1NIQrD2nRD6q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Describe la imagen",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2320,
        260
      ],
      "id": "11c445aa-d0a9-4915-a519-508f72b6d414",
      "name": "Describe",
      "credentials": {
        "openAiApi": {
          "id": "rpKV1NIQrD2nRD6q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        620,
        40
      ],
      "id": "7122c8ff-0600-46ac-b71b-c65209f34d3f",
      "name": "Delete memory (command)",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        800,
        40
      ],
      "id": "9591812b-79f2-40de-8fb7-0fbd5cfaf087",
      "name": "Delete buffer (command)",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        40
      ],
      "id": "abe5d4f9-979f-404c-9918-a2876a36fec2",
      "name": "Send command info Evolution API",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c20d4aa-3d0d-455e-b25b-2018641c4059",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a8ee6668-d91c-4a5e-a1db-224a6a883e51",
              "name": "message_id",
              "value": "={{ $('JSON parse').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "369fc49b-ca54-4f5a-86c2-84c0f0607772",
              "name": "chat_id",
              "value": "={{ $('JSON parse').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "2d6d3966-e182-4abc-9c78-1ceccbb45576",
              "name": "content_type",
              "value": "={{ $('JSON parse').item.json.file_type }}",
              "type": "string"
            },
            {
              "id": "c8bb42cf-2872-429f-bb8a-cbfd0b239c6e",
              "name": "timestamp",
              "value": "={{ $('JSON parse').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "0255fdc8-ddd2-40e2-8b21-75c45a8bfcad",
              "name": "content_url",
              "value": "={{ $('JSON parse').item.json.content_url }}",
              "type": "string"
            },
            {
              "id": "8a91571d-2975-4f65-8f20-eae208cdefc5",
              "name": "event",
              "value": "={{ $('JSON parse').item.json.event }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        100
      ],
      "id": "ce254794-6aad-46aa-8d1d-9ad08bc667ce",
      "name": "Audio content"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2720,
        260
      ],
      "id": "d42cabfb-69ea-4f6b-9bc8-004e51a3483a",
      "name": "Merge"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2880,
        260
      ],
      "id": "965976ef-c4e7-49f3-8e1d-24ea8979e246",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3060,
        260
      ],
      "id": "642a0a9d-5676-4caf-ae30-41b98a81b9e4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea93b86d-30fd-4da1-aa91-23bbedde8bd2",
              "name": "chat_input",
              "value": "={{ $json.messages.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3240,
        260
      ],
      "id": "17782f21-cd60-4680-b1bb-c0fd1aec5479",
      "name": "Chat input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c20d4aa-3d0d-455e-b25b-2018641c4059",
              "name": "content",
              "value": "=<image>\n{{ $json.content }}\n</image>",
              "type": "string"
            },
            {
              "id": "a8ee6668-d91c-4a5e-a1db-224a6a883e51",
              "name": "message_id",
              "value": "={{ $('JSON parse').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "369fc49b-ca54-4f5a-86c2-84c0f0607772",
              "name": "chat_id",
              "value": "={{ $('JSON parse').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "2d6d3966-e182-4abc-9c78-1ceccbb45576",
              "name": "content_type",
              "value": "={{ $('JSON parse').item.json.file_type }}",
              "type": "string"
            },
            {
              "id": "c8bb42cf-2872-429f-bb8a-cbfd0b239c6e",
              "name": "timestamp",
              "value": "={{ $('JSON parse').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "0255fdc8-ddd2-40e2-8b21-75c45a8bfcad",
              "name": "content_url",
              "value": "={{ $('JSON parse').item.json.content_url }}",
              "type": "string"
            },
            {
              "id": "8a91571d-2975-4f65-8f20-eae208cdefc5",
              "name": "event",
              "value": "={{ $('JSON parse').item.json.event }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        260
      ],
      "id": "834a0e0a-a8db-4c42-8731-2c6459db0993",
      "name": "Image content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c20d4aa-3d0d-455e-b25b-2018641c4059",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "a8ee6668-d91c-4a5e-a1db-224a6a883e51",
              "name": "message_id",
              "value": "={{ $('JSON parse').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "369fc49b-ca54-4f5a-86c2-84c0f0607772",
              "name": "chat_id",
              "value": "={{ $('JSON parse').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "2d6d3966-e182-4abc-9c78-1ceccbb45576",
              "name": "content_type",
              "value": "={{ $('JSON parse').item.json.file_type }}",
              "type": "string"
            },
            {
              "id": "c8bb42cf-2872-429f-bb8a-cbfd0b239c6e",
              "name": "timestamp",
              "value": "={{ $('JSON parse').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "0255fdc8-ddd2-40e2-8b21-75c45a8bfcad",
              "name": "content_url",
              "value": "={{ $('JSON parse').item.json.content_url }}",
              "type": "string"
            },
            {
              "id": "8a91571d-2975-4f65-8f20-eae208cdefc5",
              "name": "event",
              "value": "={{ $('JSON parse').item.json.event }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        420
      ],
      "id": "1dfdda4d-472d-40ae-9791-85d40a829a10",
      "name": "Text content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields').item.json.instance.server_url }}/message/sendText/{{ $('Set Fields').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Set Fields').item.json.message.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{1000}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6700,
        260
      ],
      "id": "71d1434d-2e75-422b-a3c7-277fac35dacc",
      "name": "Send message"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set Fields').item.json.message.chat_id }}",
        "tableName": "={{ $('Set Fields').item.json.database.chats_histories }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        6280,
        560
      ],
      "id": "8780e81b-e7f7-4218-9d6f-464e57f43302",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Jdkd9yky9EDsSrXY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=user message: {{ $('Chat input').item.json.chat_input }}"
            },
            {
              "content": "=###ROL:\nEres un experto enviado imágenes de productos a los usuarios.\n\n###TOOLS:\nThink: usa esta tool para pensar.\n\n###TAREAS\nIdentifica el producto que quiere el usuario según su mensaje, los productos son los siguientes:\n\n{{ $json.IdProducto.map((c, i) => `${c}: ${$json.NombreProducto[i]}`).join('\\n') }}\n\nSi no es ninguno de los anterior, clasificalo como 0:Otro\nSi el usuario te pregunta sobre los productos que tenemos, clasificalo como 0:Otro\nSi el usuario dice algo sobre el color o sobre el talle, clasificalo como 0:Otro\nSi el usuario menciona jins, clasificalo como 1:Jeans Drip Nueva Coleccion\n\n###NOTAS:\nEjemplo de salida:\ncode_product: \"3\"",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4920,
        260
      ],
      "id": "25d1019a-7c56-4b44-87db-09b758f8115e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rpKV1NIQrD2nRD6q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ID",
              "renameField": true,
              "outputFieldName": "IdProducto"
            },
            {
              "fieldToAggregate": "Producto",
              "renameField": true,
              "outputFieldName": "NombreProducto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4740,
        260
      ],
      "id": "931197b0-26cb-46e9-9994-1163895d12cc",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields').item.json.instance.server_url }}/message/sendMedia/{{ $('Set Fields').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Set Fields').item.json.message.chat_id }}"
            },
            {
              "name": "mediatype",
              "value": "video"
            },
            {
              "name": "mimetype",
              "value": "video/mp4"
            },
            {
              "name": "caption",
              "value": "={{ $json.Producto }}\n\nPrecio: {{ $('Get product').item.json.Precio }}"
            },
            {
              "name": "media",
              "value": "=https://drive.google.com/uc?id={{ $json.IdVideo }}&export=download"
            },
            {
              "name": "delay",
              "value": "={{ 1000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5600,
        100
      ],
      "id": "2f885709-5137-4d55-9b7f-9a54eec88a0a",
      "name": "Send image",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        6420,
        560
      ],
      "id": "dc090747-4a4c-4a6d-873a-5499440e6098",
      "name": "Think"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mDwevaQ2tT8XF7Qgfgquo3dMHltMFqEEFRzvxqIE6KI",
          "mode": "list",
          "cachedResultName": "Mister H Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mDwevaQ2tT8XF7Qgfgquo3dMHltMFqEEFRzvxqIE6KI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mDwevaQ2tT8XF7Qgfgquo3dMHltMFqEEFRzvxqIE6KI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        6560,
        560
      ],
      "id": "a04c1ef1-74b8-42c7-b1a2-a3807f949742",
      "name": "Info products",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lR56THvwiqKI5Ptt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mDwevaQ2tT8XF7Qgfgquo3dMHltMFqEEFRzvxqIE6KI",
          "mode": "list",
          "cachedResultName": "Mister H Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mDwevaQ2tT8XF7Qgfgquo3dMHltMFqEEFRzvxqIE6KI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mDwevaQ2tT8XF7Qgfgquo3dMHltMFqEEFRzvxqIE6KI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.message.content.code_product }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5440,
        100
      ],
      "id": "ba67849f-8224-4f22-81ce-9c01d5638fb5",
      "name": "Get product",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lR56THvwiqKI5Ptt",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mDwevaQ2tT8XF7Qgfgquo3dMHltMFqEEFRzvxqIE6KI",
          "mode": "list",
          "cachedResultName": "Mister H Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mDwevaQ2tT8XF7Qgfgquo3dMHltMFqEEFRzvxqIE6KI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mDwevaQ2tT8XF7Qgfgquo3dMHltMFqEEFRzvxqIE6KI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4560,
        260
      ],
      "id": "7b7509bb-2ca4-48a8-98c4-8532564243bf",
      "name": "Get products",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lR56THvwiqKI5Ptt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "296e3858-14c1-4ad4-9177-ac4ab6f1be1f",
              "leftValue": "={{ $json.message.content.code_product }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5240,
        260
      ],
      "id": "3dbd9371-d0a7-4591-86d2-6b4b20fc0a9d",
      "name": "Send media?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75c19f8b-9360-44e9-a368-4acf78d614b2",
              "name": "message",
              "value": "={   \"type\": \"ai\",   \"content\": \"Imagen {{ $('Get product').item.json.Producto }} enviada\",   \"tool_calls\": [],   \"additional_kwargs\": {},   \"response_metadata\": {},   \"invalid_tool_calls\": [] }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5780,
        100
      ],
      "id": "d38966fd-f604-4cc8-9394-9ba425a57941",
      "name": "Set json"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO {{ $('Set Fields').item.json.database.chats_histories }} (\n  session_id,\n  message\n) VALUES (\n  '{{ $('Set Fields').item.json.message.chat_id }}',\n  '{{ $json.message }}'::jsonb\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5960,
        100
      ],
      "id": "ec6502d8-a88e-4097-a8e7-e54c3d2bc2ac",
      "name": "Insert message",
      "credentials": {
        "postgres": {
          "id": "Jdkd9yky9EDsSrXY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=###ROL:\nIdentifica si ambos mensajes se refieren al mismo producto:\n\n###TOOLS:\nthink: usa esta tool para pensar.\n\nuser message: {{ $('Chat input').item.json.chat_input }}\nnombre producto: {{ $json.producto_enviado[0] }}\n\n###NOTAS:\n\nSi el mensaje del usuario contiene nombre el producto o hace referencia al nombre del producto, retorna \"True\".\nSi notas que el mensaje del usuario se refiere al nombre del producto, retorna \"True\"\n\nEn otro caso retorna \"False\"\n\n\nEjemplo de salida:\nEqual: \"True\"\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3840,
        160
      ],
      "id": "3979247e-a20e-4b88-8876-ec067df1bac6",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "rpKV1NIQrD2nRD6q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c0c91430-0298-4c30-a8b0-393dc1f35074",
              "leftValue": "={{ $json.message.content.Equal }}",
              "rightValue": "False",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4180,
        160
      ],
      "id": "8b2161bf-392e-4c67-b46f-1d578d7bdad5",
      "name": "Equal?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e020737c-0af5-40c2-976d-fee14ec5d382",
              "leftValue": "={{ $json.producto_enviado[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3620,
        260
      ],
      "id": "fdd575ae-7063-48af-9526-5ce22ea29d70",
      "name": "Sent?"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1lCV8o-BDlJ4UPmbLA_Zy_FawTQJYmL-z3R4f0gF39E4"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        6140,
        260
      ],
      "id": "5b87c8a0-f11d-470d-b132-3943cbacbe8c",
      "name": "Prompt",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2OMFE6o6JGY7yQcR",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  r.producto_enviado\nFROM (\n  SELECT *\n  FROM {{ $('Set Fields').item.json.database.chats_histories }}\n  WHERE session_id = '{{ $(\"Set Fields\").item.json.message.chat_id }}'\n  ORDER BY id DESC\n  LIMIT 10\n) a\nCROSS JOIN LATERAL regexp_match(\n  a.message::jsonb ->> 'content',\n  'Imagen (.+) enviada',\n  'i'\n) AS r(producto_enviado)\nWHERE a.message::jsonb ->> 'type' = 'ai'\n  AND a.message::jsonb ->> 'content' ~* 'Imagen .+ enviada'\nORDER BY a.id DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3420,
        260
      ],
      "id": "30244cc6-8515-42c2-bff6-fd104050cd3d",
      "name": "Get conversations",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Jdkd9yky9EDsSrXY",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed.\n\nAsegurate de retornar un json"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        5020,
        480
      ],
      "id": "bcb6f5cf-b40b-4652-8af2-d7b450be5bb1",
      "name": "Think1"
    },
    {
      "parameters": {
        "description": "=Analiza si el mensaje del usuario menciona explícita o implícitamente el siguiente nombre de producto:\n\nProducto: \"{{ $json.producto_enviado[0] }}\"\nMensaje del usuario: \"{{ $('Chat input').item.json.chat_input }}\"\n\nPregúntate:\n1. ¿Se menciona el nombre del producto tal como está o con alguna variación leve?\n2. ¿El mensaje hace referencia a ese producto aunque no lo nombre directamente, usando sinónimos, pronombres o contexto?\n\nSi la respuesta a cualquiera de estas preguntas es sí, responde con:\nEqual: \"True\"\n\nSi no se puede confirmar ninguna relación entre el mensaje y el producto, responde con:\nEqual: \"False\"\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        3880,
        380
      ],
      "id": "bf4020da-d83d-4639-b61f-332c3aabee47",
      "name": "Think2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE mister_chats;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -360,
        -100
      ],
      "id": "00c42408-36ff-44f6-a913-03eece1ebbe0",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "Jdkd9yky9EDsSrXY",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "appn8n.rataplam.shop",
            "user-agent": "axios/1.7.9",
            "content-length": "951",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "appn8n.rataplam.shop",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "02abc681ed35",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Mister H Tienda",
            "data": {
              "key": {
                "remoteJid": "51929734457@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB00519814B87BDA27996"
              },
              "pushName": "Andy Cruz",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "tienes esta blanca en M?",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "upTEGfVpFpHHag==",
                    "senderTimestamp": "1747423631",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "QB/2DG1NZH2g2Q==",
                    "recipientTimestamp": "1747087851"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "dZVU7GcHBdXmwOP01dkMkNIEkKMV1vkV+R6cwo1wE6g="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1747850747,
              "instanceId": "6a488445-7250-4187-b5a2-6e0a6a44c819",
              "source": "web"
            },
            "destination": "https://appn8n.rataplam.shop/webhook/Mister",
            "date_time": "2025-05-21T15:05:47.465Z",
            "sender": "595972576900@s.whatsapp.net",
            "server_url": "https://evolution.rataplam.shop",
            "apikey": "B4794BDBF991-447A-9D74-A6672C43E964"
          },
          "webhookUrl": "https://appn8n.rataplam.shop/webhook/Mister",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Block AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Block Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Block Chat ID": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Delete memory (command)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push message buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get messages buffer": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push message buffer": {
      "main": [
        [
          {
            "node": "Get messages buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get messages buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete buffer": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "JSON parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON parse": {
      "main": [
        [
          {
            "node": "Switch control type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch control type": {
      "main": [
        [
          {
            "node": "Get audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio": {
      "main": [
        [
          {
            "node": "Convert audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image": {
      "main": [
        [
          {
            "node": "Convert image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert audio": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert image": {
      "main": [
        [
          {
            "node": "Describe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete memory (command)": {
      "main": [
        [
          {
            "node": "Delete buffer (command)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete buffer (command)": {
      "main": [
        [
          {
            "node": "Send command info Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Audio content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe": {
      "main": [
        [
          {
            "node": "Image content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Chat input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat input": {
      "main": [
        [
          {
            "node": "Get conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Text content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Send media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send image": {
      "main": [
        [
          {
            "node": "Set json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Info products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get product": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get products": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send media?": {
      "main": [
        [
          {
            "node": "Get product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set json": {
      "main": [
        [
          {
            "node": "Insert message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert message": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Equal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Equal?": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sent?": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get conversations": {
      "main": [
        [
          {
            "node": "Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "OpenAI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Asuncion",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6dd0c0bd-a577-4d18-9c25-b24484bc0812",
  "meta": {
    "instanceId": "00661a5dd72ec6b281b3a033cee049e42460fc9feebfe44b62cd687fd686a8ea"
  },
  "id": "u160ON6blrpZotfk",
  "tags": []
}